@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/pricing-bg.png");
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-wrap {
  font-family: inherit;
  border: 1px solid #171717;
  width: fit-content;
}
.btn-wrap #audio,
.btn-wrap #video {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  outline: none;
  transition: 1s ease-in-out;
}
.btn-wrap #audio {
  border-right: 0px;
  background-color: #3d3272;
  color: #f5f5f5;
}
.btn-wrap #video {
  border-left: 0px;
}
.card-container > div {
  background: #f5f5f5;
  margin: 10px 25px;
}
.card-container > div > img {
  width: 410px;
  height: 200px;
}
.plan-type {
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-container > div > hr {
  height: 0px;
  background-color: #171717;
  border-style: dashed;
  margin: 10px;
}
.card-container > div > h3 {
  font-size: 18px;
  font-weight: 900;
}
.card-container > div > p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}
.price-basic,
.price-advance,
.price-premium {
  margin: auto;
  width: fit-content;
  padding-top: 10px;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background: transparent;
  border-bottom: 2px solid #171717;
}
.buy-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  cursor: pointer;
  background: #3d3272;
  color: #f5f5f5;
  border: 1px solid #171717;
  outline: none;
  transition: 0.2s ease-in-out;
}
.buy-btn:hover {
  
  color: #171717;
  background: #f5f5f5;
}
#each-session {
  font-size: 20px;
  behavior: alternate;
  color: #171717;
  font-weight: 600;
}

/* Scrolling logos  */

.slider {
  height: 60px;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after{
  position:absolute;
  background-image:linear-gradient(to right,#f5f5f5 0%,rgba(255,255,255,0) 100%);
  content:'';
  height:100%;width:25%;
  z-index:2;pointer-events:none;
}
.slider::before{
  left:0;
  top:0;
}
.slider::after{
  right:0;
  top:0;
  transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 150px;
  height: 60px;
  display: grid;
  place-items: center;
  transition:0.5s;
  cursor:pointer;
}
.slide:hover{
  transform:scale(0.8)
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}


/* Review Section Start  */

/* Partners  */

